## Diferentes formas de crear listas

In [3]:
my_list =  [3] *5
print(my_list)

[3, 3, 3, 3, 3]

In [4]:
my_list =  [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [5]:
my_list =  []
for number in range(10):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
my_list =  []
for number in range(10):
    my_list+=[number] # my_list = my_list + [number]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
my_list =  [number for number in range(15)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Obtener sublistas

In [14]:
my_list =  [number for number in range(5,20)]
print(my_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
my_sublist = my_list[:4]
print(my_sublist)

[5, 6, 7, 8]

In [13]:
my_sublist = my_list[3:7]
print(my_sublist)

[8, 9, 10, 11]

In [15]:
my_sublist = my_list[10:]
print(my_sublist)

[15, 16, 17, 18, 19]

In [16]:
my_sublist = my_list[500:]
print(my_sublist)

[]

In [17]:
len(my_list)

15

## Creacion de listas usando range y numpy

In [19]:
# inicio,fin, paso)

my_list =[*range(1,5,1)] # el asterisco desdobla el rango
print (my_list)

[1, 2, 3, 4]

In [20]:
# inicio,fin, paso)

my_list =[*range(1,20,4)] # el asterisco desdobla el rango vaya del 1 al 20 en pasos de 4
print (my_list)

[1, 5, 9, 13, 17]

In [21]:
import numpy as np
my_list = np.arange(1,20,4).tolist()
print(my_list)

[1, 5, 9, 13, 17]

## Listas anidadas

In [25]:
my_list =  [1,2,3,4,5]
print(my_list)
print(my_list[3])

[1, 2, 3, 4, 5]
4

In [26]:
my_list =  [[1,3,5],[2,4,6]]
print(my_list)
print(my_list[1])
print(my_list[1][2]) # 0, 1, 2

[[1, 3, 5], [2, 4, 6]]
[2, 4, 6]
6

## Ordenando Listas

In [27]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort()
print(my_list)

[5, 3, 1, 15, 2, 20]
[1, 2, 3, 5, 15, 20]

In [28]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 3, 1, 15, 2, 20]
[20, 15, 5, 3, 2, 1]

In [30]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
my_list.sort()
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['abeja', 'ballena', 'caballo', 'jirafa']

In [31]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['jirafa', 'caballo', 'ballena', 'abeja']

## Conversion de Listas

### Cadenas a Listas

In [32]:
# separar palabras
my_string = "Curso de Backend Python"
my_list = my_string.split()
print (my_string)
print(my_list)

Curso de Backend Python
['Curso', 'de', 'Backend', 'Python']

In [33]:
# separar palabras
my_string = "Curso de Backend Python"
my_list = list(my_string) 
print (my_string)
print(my_list)

Curso de Backend Python
['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [34]:
# separar palabras
my_string = "Curso de Backend Python"
my_list = list(map(list,my_string)) 
print (my_string)
print(my_list)

Curso de Backend Python
[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]

### Listas de cadenas

In [35]:
# usando espacios entre palabras
my_list = ['curso', 'de','Backend','python']
my_string = " ".join(my_list)
print(my_list)
print(my_string)

['curso', 'de', 'Backend', 'python']
curso de Backend python

In [36]:
my_list = ['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
my_string = " ".join(my_list)
print(my_list)
print(my_string)

['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
C u r s o   d e   B a c k e n d   P y t h o n

In [39]:
my_list = [['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
my_string = "".join(["".join(element) for element in my_list])
print(my_list)
print(my_string)

[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
Curso de Backend Python

## Creacion de listas con valores de entrada

In [40]:
my_string = input("Ingresa los valores separados por espacio")
my_list = my_string.split()
print(my_string)
print(my_list)

Ingresa los valores separados por espacio6 5 4 1 2 4
6 5 4 1 2 4
['6', '5', '4', '1', '2', '4']

# Metodo para manipulacion de listas

### append
Agregar un elemento alfinal de una lista

In [41]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [43]:
my_list.append("delfin")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfin']
5

In [44]:
my_list.append("gato")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfin', 'gato']
6

In [45]:
my_list = [300,500,100,200]
print(my_list)
print(len(my_list))

[300, 500, 100, 200]
4

In [46]:
my_list.append(5)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 5]
5

## Insert
Agregar un valor a una lista en una posicion especifica
inser(indice, valor)

In [48]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [49]:
my_list.insert(2, "delfin") # recorre al segundo lugar 0,1,2...
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'delfin', 'jirafa', 'ballena']
5

In [50]:
my_list.insert(1, "gato") # recorre al segundo lugar 0,1,2...
print(my_list)
print(len(my_list))

['caballo', 'gato', 'abeja', 'delfin', 'jirafa', 'ballena']
6

## Clear
Eliminar todos los elementos de la lista

In [51]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [52]:
my_list.clear() 
print(my_list)
print(len(my_list))

[]
0

## Copy
Copiar los elementos de una lista

In [3]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [4]:
my_list_copy = my_list.copy() 
print(my_list_copy)
print(len(my_list_copy))

['caballo', 'abeja', 'jirafa', 'ballena']
4

my_list_copy.clear() 
print(my_list_copy)
print(len(my_list_copy))
print(my_list)
print(len(my_list))

In [6]:
my_list_assigned= my_list
my_list_assigned.clear() 

print(my_list_assigned)
print(len(my_list_assigned))
print(my_list)
print(len(my_list))

[]
0
[]
0

## Count
Cuenta cuantas veces aparece un elemento en una lista

In [7]:
my_list = [100, 300,500,100,200,100,300]
print(my_list
     )

[100, 300, 500, 100, 200, 100, 300]

In [8]:
print("El numero 100 aparece {} veces en la lista".format(my_list.count(100)))

El numero 100 aparece 3 veces en la lista

In [9]:
print("El numero 100 aparece {} veces en la lista".format(my_list.count(300)))

El numero 100 aparece 2 veces en la lista

## index
Obtiene el primer indice de una lista que hace match con el elemento solicitado

In [10]:
my_list = [100, 300,500,100,200,100,300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [11]:
print("El indice de la primera aparicion del numero 100 es {}".format(my_list.index(100)))

El indice de la primera aparicion del numero 100 es 0

In [12]:
print("El indice de la primera aparicion del numero 100 es {}".format(my_list.index(500)))

El indice de la primera aparicion del numero 100 es 2

In [13]:
print("El indice de la primera aparicion del numero 100 es {}".format(my_list.index(300)))

El indice de la primera aparicion del numero 100 es 1

## extend
para combinar 2 listas

In [14]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [15]:
my_list_2 = ["delfin","gato"]
my_list.extend(my_list_2)
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfin', 'gato']
6

In [17]:
my_list = [300,500,100,200]
print(my_list)
print(len(my_list))

[300, 500, 100, 200]
4

In [18]:
my_list_2 = [111,333]
my_list.extend(my_list_2)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 111, 333]
6

## pop
Eliminar elementos de una lista basado en los indices

In [19]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7

In [20]:
# elimina -1 por default
my_list.pop()
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100]
6

In [21]:
my_list.pop(2)
print(my_list)
print(len(my_list))

[100, 300, 100, 200, 100]
5

## remove
Elimina la primera aparicion de un valor en una lista

In [22]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7

In [23]:
my_list.remove(100)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 100, 300]
6

In [24]:
my_list.remove(100)
print(my_list)
print(len(my_list))

[300, 500, 200, 100, 300]
5

In [25]:
# error si un valor no esta en la lista
my_list.remove(600)
print(my_list)
print(len(my_list))

ValueError: list.remove(x): x not in list

## reverse

Invierte el orden de una lista

In [26]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [27]:
my_list.reverse()
print(my_list)
print(len(my_list))

['ballena', 'jirafa', 'abeja', 'caballo']
4

## sort

Ordena los elementos de una lista

In [28]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort()
print(my_list)

[5, 3, 1, 15, 2, 20]
[1, 2, 3, 5, 15, 20]

In [29]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 3, 1, 15, 2, 20]
[20, 15, 5, 3, 2, 1]

In [30]:
my_list = ["caballo", "abeja", "jirafa","ballena"]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['jirafa', 'caballo', 'ballena', 'abeja']

## Obtener un elemento aleatorio de una lista

In [31]:
my_list = [5,3,1,15,2,20]
print(my_list)

[5, 3, 1, 15, 2, 20]

In [32]:
import random

In [33]:
print(random.choice(my_list))

1

In [34]:
print(random.choice(my_list))

15

In [35]:
print(random.choice(my_list))

20

In [36]:
print(random.choice(my_list))

20

In [37]:
print(random.choice(my_list))

20