# Operadores y Tipos de Operadores

¿Que son los operadores?
- Son un conjunto de simbolo para un lenguaje de programacion
- Pueden decirle al comilador o interprete que ejecute ciertas acciones para producir un resultado final
- Pueden ser usados para aplicar operaciones en variables o valores
- Pueden ser calsificados segun su tipo (aritmeticos, de asignacion, racionales, logicos, afilacion y de identidad)

Tipos de Operadores:
- Aritmeticos
- Relacionales
- De asignacion
- Logicos
- De afiliacion 
- De identidad

### Operadores aritmeticos
- "+": suma
- "-": resta
- "*": multiplicacion
- "/": division
- "//": division con redondeo hacia abajo
- "**": exponente

In [2]:
# "+": suma
num_1 = 500
num_2 = 300
print ("El resultado de num_1+num_2 es:",num_1+num_2)

El resultado de num_1+num_2 es: 800

In [3]:
# "+": suma
num_1 = 200
num_2 = 900
print ("El resultado de num_1+num_2 es:",num_1+num_2)

El resultado de num_1+num_2 es: 1100

In [6]:
# "-": resta
num_1 = 500
num_2 = 300
print ("El resultado de num_1-num_2 es:",num_1-num_2)

El resultado de num_1-num_2 es: 200

In [7]:
# "-": resta
num_1 = 200
num_2 = 900
print ("El resultado de num_1-num_2 es:",num_1-num_2)

El resultado de num_1-num_2 es: -700

In [8]:
# "*": multiplicacion
num_1 = 500
num_2 = 300
print ("El resultado de num_1*num_2 es:",num_1*num_2)

El resultado de num_1*num_2 es: 150000

In [9]:
# "*": multiplicacion
num_1 = 200
num_2 = 900
print ("El resultado de num_1*num_2 es:",num_1*num_2)

El resultado de num_1*num_2 es: 180000

In [10]:
# "/": division
num_1 = 500
num_2 = 300
print ("El resultado de num_1/num_2 es:",num_1/num_2)

El resultado de num_1/num_2 es: 1.6666666666666667

In [11]:
# "/": division
num_1 = 200
num_2 = 900
print ("El resultado de num_1/num_2 es:",num_1/num_2)

El resultado de num_1/num_2 es: 0.2222222222222222

In [12]:
# "//": division con redondeo hacia abajo, parte entera del resultado
num_1 = 500
num_2 = 300
print ("El resultado de num_1//num_2 es:",num_1//num_2)

El resultado de num_1//num_2 es: 1

In [13]:
# "//": division con redondeo hacia abajo, parte entera del resultado
num_1 = 200
num_2 = 900
print ("El resultado de num_1//num_2 es:",num_1//num_2)

El resultado de num_1//num_2 es: 0

In [14]:
# "**": exponente
num_1 = 2
num_2 = 5
print ("El resultado de num_1**num_2 es:",num_1**num_2)

El resultado de num_1**num_2 es: 32

In [15]:
# "**": exponente
num_1 = 3
num_2 = 3
print ("El resultado de num_1**num_2 es:",num_1**num_2)

El resultado de num_1**num_2 es: 27

### Operadores relacionales

¿Que son los operadores Relacionales?
- Son tambien conocidos como operadores de comparacion
- Regresan un valor booleano (verdadero o Falso)
- En python son usados para comparar o relacionar los valores
- Verdadero/True, es el reusltado cuando la condicion es exitosa
- Falso/False es el resultado cuando la condicion no se cumple
- Estos operadores se encargan de las operaciones de comparacion

Tipos de Operadores Relaiconales
- "==": igual a 
- "!=": Diferente a 
- ">": Mayor que
- ">=": mayor o igual que
- "<": menor que     
- "<=": menor o igual que

In [16]:
# "==": igual a

In [17]:
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_1==num_2 es:",num_1==num_2)

El resultado de num_1==num_2 es: False

In [18]:
num_1 = 570 #asignacion
num_2 = 570 
print ("El resultado de num_1==num_2 es:",num_1==num_2)

El resultado de num_1==num_2 es: True

In [19]:
str_1 = "Backend Python" # asignacion
str_2 = "Backend Python"
print ("El resultado de str_1==str_2 es:",str_1==str_2)

El resultado de str_1==str_2 es: True

In [20]:
str_1 = "Backend Python" # asignacion
str_2 = "Backend python"
print ("El resultado de str_1==str_2 es:",str_1==str_2)

El resultado de str_1==str_2 es: False

In [21]:
# "!=": Diferente a

In [22]:
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_1!=num_2 es:",num_1!=num_2)

El resultado de num_1!=num_2 es: True

In [23]:
num_1 = 570 #asignacion
num_2 = 570 
print ("El resultado de num_1!=num_2 es:",num_1!=num_2)

El resultado de num_1!=num_2 es: False

In [24]:
str_1 = "Backend Python" # asignacion
str_2 = "Backend Python"
print ("El resultado de str_1!=str_2 es:",str_1!=str_2)

El resultado de str_1!=str_2 es: False

In [25]:
str_1 = "Backend Python" # asignacion
str_2 = "Backend python"
print ("El resultado de str_1!=str_2 es:",str_1!=str_2)

El resultado de str_1!=str_2 es: True

In [27]:
# ">": mayor que
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_>num_2 es:",num_1>num_2)

El resultado de num_>num_2 es: True

In [28]:
# ">": mayor que
num_1 = 570 #asignacion
num_2 = 570 
print ("El resultado de num_>num_2 es:",num_1>num_2)

El resultado de num_>num_2 es: False

In [29]:
num_1 = 570 #asignacion
num_2 = 890 
print ("El resultado de num_>num_2 es:",num_1>num_2)

El resultado de num_>num_2 es: False

In [30]:
# ">=": mayor o igual que

In [31]:
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_>=num_2 es:",num_1>=num_2)

El resultado de num_>=num_2 es: True

In [32]:
num_1 = 570 #asignacion
num_2 = 890 
print ("El resultado de num_>=num_2 es:",num_1>=num_2)

El resultado de num_>=num_2 es: False

In [33]:
# "<": menor que

In [34]:
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_<num_2 es:",num_1<num_2)

El resultado de num_<num_2 es: False

In [35]:
num_1 = 570 #asignacion
num_2 = 570 
print ("El resultado de num_<num_2 es:",num_1<num_2)

El resultado de num_<num_2 es: False

In [36]:
num_1 = 570 #asignacion
num_2 = 890 
print ("El resultado de num_<num_2 es:",num_1<num_2)

El resultado de num_<num_2 es: True

In [37]:
# "<=": menor o igual que

In [38]:
num_1 = 570 #asignacion
num_2 = 420 
print ("El resultado de num_<num_2 es:",num_1<=num_2)

El resultado de num_<num_2 es: False

In [39]:
num_1 = 570 #asignacion
num_2 = 570 
print ("El resultado de num_<num_2 es:",num_1<=num_2)

El resultado de num_<num_2 es: True

In [40]:
num_1 = 570 #asignacion
num_2 = 890 
print ("El resultado de num_<num_2 es:",num_1<=num_2)

El resultado de num_<num_2 es: True

### Operadores de asignacion

¿Que son los operadores de asignacion?
- En python son usados para asignar valores a variables
- Incluyen al operador de asignacion que es el signo de igual (=)

Tipos de Operadores de Asignacion:
- "=": Operador de Asignacion
- "+=": Sumar y Asignar
- "-=": restar y asignar
- "*=": multiplicar y asignar
- "/=": dividir y asignar
- "//=": Dividir con redonde hacia abajo y asignar
- "%=": Modulo y Asignar
- "**=" Exponente y asignar

In [41]:
# "=": Operador de asignacion

In [42]:
num_1 = 20
num_2 = 3

In [43]:
# "+=": Operador de asignacion

In [45]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 += num_2 # num_1 = num_1 + num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 23

In [46]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 -= num_2 # num_1 = num_1 - num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 17

In [47]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 *= num_2 # num_1 = num_1 * num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 60

In [48]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 /= num_2 # num_1 = num_1 / num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 6.666666666666667

In [49]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 //= num_2 # num_1 = num_1 // num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 6

In [50]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 %= num_2 # num_1 = num_1 % num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 2

In [51]:
num_1 = 20
num_2 = 3
print ("num_1 antes de la operacion:", num_1)
num_1 **= num_2 # num_1 = num_1 ** num_2
print ("num_1 despues de la operacion:", num_1)

num_1 antes de la operacion: 20
num_1 despues de la operacion: 8000

### Operadores logicos

¿que son operadores logicos?
- Son usados principalmente para declaraciones condicionales
- Son indicadores estructurales
- Tambien se les conoce como conectores logicos
- Hay 3 tipos de operadores logicos:
    - AND (y) - regresa True/ VErdadero si ambas operaciones son verdaderas
    -OR (o) - regresa True/Verdadero i por lo menos una de las operaciones verdaderas
    - NOT(lo opuesto) - regresa True/Verdadero si la operacion False/Falso

In [52]:
# AND (y)
# Todas las condiciones deben ser Verdaderas

In [53]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/verdadero
print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 True

In [54]:
num_1 = 11
num_2 = 11
# num_1<=num_2
print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 False

In [55]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/verdadero

print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 True

In [56]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/verdadero

print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 False

In [57]:
# OR (o) - con que una de las condiciones se cumpla regresa true

In [58]:
num_1 = 11
num_2 = 55
# num_1<=num_2
print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 or num_1!=num_2)

num_1<=num_2 and num_1!=num_2 True

In [59]:
num_1 = 11
num_2 = 11
# num_1<=num_2
print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 or num_1!=num_2)

num_1<=num_2 and num_1!=num_2 True

In [60]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/verdadero

print ("num_1<=num_2 and num_1!=num_2", num_1<=num_2 or num_1!=num_2 or num_1>10)

num_1<=num_2 and num_1!=num_2 True

In [61]:
# NoT(lo opuesto)
# la condicion debe ser falsa

In [62]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
print("not num_1<=num_2", not num_1<=num_2)

not num_1<=num_2 False

In [63]:
num_1 = 11
num_2 = 55
# num_1!=num_2: True/Verdadero
print("not num_1<=num_2", not num_1!=num_2)

not num_1<=num_2 False

In [64]:
num_1 = 11
num_2 = 55
# num_1>num_2: True/Verdadero
print("not num_1<=num_2", not num_1>num_2)

not num_1<=num_2 True

### Operadores de Afiliacion

¿Que son los operadores de afliacion?
- Son usados para validar los elemntos de listas, cadenas y tuplas
- validan si una variable esta presente en una secuencia 
- Regresan un valor booleano con el resultado True/False
- Regresa True/ verdadero si el valor esta presnete en la secuencia
- Regresa False si el valor no esta presnete en la secuencia
- Hay dos operadores de afiliacion
    - IN -el valor esta en la secuencia
    - NOT IN -el valor esta en la secuencia

In [65]:
my_string = "Backend Python"
print("'a' my_string", 'a' in my_string)

'a' my_string True

In [67]:
my_string = "Backend Python"
print("'i'in my_string", 'i' in my_string)

'i' my_string False

In [71]:
my_list = [1, 154,321, 22, 11]
print("'5' my_string", 5 in my_list)

'5' my_string False

In [75]:
my_list = [1, 154,321, 22, 11, 5, 11, 22, 5, 1]
print("5 my_list", 5 in my_list)

5 my_list True

In [76]:
my_list

[1, 154, 321, 22, 11, 5, 11, 22, 5, 1]

In [79]:
my_set = {1, 154,321, 22, 11, 5, 11, 22, 5, 1}
print("5 my_set", 5 in my_set)

5 my_set True

In [80]:
my_set

{1, 5, 11, 22, 154, 321}

In [81]:
#NOT IN (El valor no esta presnete en la secuencia?)

In [83]:
my_string = "Backend Python"
print("'a' not in my_string", 'a' not in my_string)

'a' not in my_string False

In [84]:
my_string = "Backend Python"
print("'i' not in my_string", 'i' not in my_string)

'i' not in my_string True

In [85]:
my_list = [1, 154,321, 22, 11]
print("5 not in my_list", 5 not in my_list)

5 not in my_list True

In [86]:
my_list = [1, 154,321, 22, 11, 5, 11, 22, 5, 1]
print("5 not in my_list", 5 not in my_list)

5 not in my_list False

In [87]:
my_set = {1, 154,321, 22, 11, 5, 11, 22, 5, 1}
print("5 not in my_set", 5 not in my_set)

5 not in my_set False

### Operadores de identidad

¿Que son los operadores de identidad?

- Son usados para comparar la ubicacion en memoria de los objetos
- se utilizan para validar si los valores comparten el mismo espacio en memoria o no
- Regresa True/Verdadero si lo comparten y False si no lo comparten
- Hay 2 operadores de identidad 
    - IS
    - IS NOT

In [ ]:
# IS

In [89]:
num_1 = 11
num_2 = 55

print("num_1 is num_2",num_1 is num_2)

num_1 is num_2 False

In [90]:
num_1 = 77
num_2 = 77

print("num_1 is num_2",num_1 is num_2)

num_1 is num_2 True

In [91]:
# IS NOT

In [92]:
num_1 = 11
num_2 = 55

print("num_1 is not num_2",num_1 is not num_2)

num_1 is not num_2 True

In [93]:
num_1 = 77
num_2 = 77

print("num_1 is not num_2",num_1 is not num_2)

num_1 is not num_2 False

In [94]:
## Conversion de Tipos

¿Que es la conversion de tipos?
- Es el proceso de conversion de un tipo de otro tipo de dato
- Es un paso muy importante para combinar multiples funciones de datos en un formato especifico
- Hay dos tipos:
       - Conversion implicita: hecha de forma automatica por el         interprete de python
       - Conversion Explicita

In [95]:
# Conversion implicita

In [96]:
14+2.0

16.0

In [97]:
14+2.0+3

19.0

In [98]:
# Conversion Explicita

In [99]:
int(199.99)

199

In [100]:
float(58)

58.0

In [101]:
complex(4)

(4+0j)

### Conversiones int

In [102]:
int(10.78) # float a int

10

In [103]:
int(False) # bool a int

0

In [104]:
int(True) # bool a int

1

In [105]:
# error
int(5+3j) # complex a int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [106]:
int ("120") #string a int

120

In [107]:
# error
int("120.5") # string a int

ValueError: invalid literal for int() with base 10: '120.5'

### Conversiones float

In [108]:
float(23) #int a float

23.0

In [109]:
#error
float(23+3j) #complex a float

TypeError: float() argument must be a string or a real number, not 'complex'

In [110]:
float (True) # bool a float

1.0

In [111]:
float("843.29") # string a float

843.29

In [112]:
float("843") #string a float

843.0

### conversiones complex

In [113]:
complex(42) # int a comlplex

(42+0j)

In [114]:
complex (92.8) # float a complex

(92.8+0j)

In [115]:
complex(True) # bool a complex

(1+0j)

In [116]:
complex(False) # bool a complex

0j

In [117]:
complex("24") # string a complex

(24+0j)

In [118]:
#error
complex("Backend") # string a complex

ValueError: complex() arg is a malformed string

In [120]:
#error
complex("10c") # string a complex

ValueError: complex() arg is a malformed string

In [121]:
complex("10j") # string a complex

10j

### Conversiones Bool

In [122]:
bool(0) # int a bool

False

In [123]:
bool(7) # int a bool

True

In [124]:
bool(1.8) # float a bool

True

In [125]:
bool(0.0) # float a bool

False

In [126]:
bool(0+3j) # complex a bool

True

In [127]:
bool(0+0j) # complex a bool

False

In [128]:
bool(2+0j) # complext a bool

True

In [129]:
bool("python") # string a bool

True

In [130]:
bool(" ") # string a bool

True

In [131]:
bool("") # string a bool

False

In [132]:
bool("0") # string a bool

True

### conversiones str

In [134]:
str(25) # int a str

'25'

In [135]:
str(36.9) # float a str

'36.9'

In [136]:
str(6+8j) # complex a str

'(6+8j)'

In [137]:
str(True) # bool a str

'True'

### Funciones basicas

In [138]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("num_1:", num_1)
print("num_2:", num_2)
print("num_3:", num_3)
print("num_4:", num_4)

num_1: 64.99
num_2: 64.5
num_3: 64.51
num_4: 64.0000000000001

In [139]:
from math import trunc #la funcion trunc se queda con la parte entera
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("trunc(num_1):", trunc(num_1))
print("trunc(num_2):", trunc(num_2))
print("trunc(num_3):", trunc(num_3))
print("trunc(num_4):", trunc(num_4))

trunc(num_1): 64
trunc(num_2): 64
trunc(num_3): 64
trunc(num_4): 64

### round(), ceil() y floor()

In [140]:
#round va a redondear

num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("round(num_1):", round(num_1))
print("round(num_2):", round(num_2))
print("round(num_3):", round(num_3))
print("round(num_4):", round(num_4))

round(num_1): 65
round(num_2): 64
round(num_3): 65
round(num_4): 64

In [141]:
# ceil redondeo hacia arriba
from math import ceil

num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("ceil(num_1):", ceil(num_1))
print("ceil(num_2):", ceil(num_2))
print("ceil(num_3):", ceil(num_3))
print("ceil(num_4):", ceil(num_4))

ceil(num_1): 65
ceil(num_2): 65
ceil(num_3): 65
ceil(num_4): 65

In [142]:
#redondeo hacia abajo
from math import floor

num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("floor(num_1):", floor(num_1))
print("floor(num_2):", floor(num_2))
print("floor(num_3):", floor(num_3))
print("floor(num_4):", floor(num_4))

floor(num_1): 64
floor(num_2): 64
floor(num_3): 64
floor(num_4): 64

### Funcion %

In [145]:

num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("'%.2f' % num_1:", '%.2f' % num_1)
print("'%.3f' % num_2:", '%.3f' % num_2)
print("'%.4f' % num_3:", '%.4f' % num_3)
print("'%.5f' % num_4:", '%.5f' % num_4)

'%.2f' % num_1: 64.99
'%.3f' % num_2: 64.500
'%.4f' % num_3: 64.5100
'%.5f' % num_4: 64.00000

### format()

In [148]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.0000000000001

print("'{:.1f}' .format(num_1):", '{:.1f}' .format(num_1))
print("'{:.3f}' .format(num_2):", '{:.3f}' .format(num_2))
print("'{:.4f}' .format(num_3):", '{:.4f}' .format(num_3))
print("'{:.5f}' .format(num_4):", '{:.5f}' .format(num_4))

'{:.1f}' .format(num_1): 65.0
'{:.3f}' .format(num_2): 64.500
'{:.4f}' .format(num_3): 64.5100
'{:.5f}' .format(num_4): 64.00000