## Diferentes formas de crear Tuplas

In [1]:
my_tuple = ("Carlos", "Test", 3000, 15.79)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Carlos', 'Test', 3000, 15.79)

In [2]:
my_tuple = "Carlos", "Test", 3000, 15.79
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Carlos', 'Test', 3000, 15.79)

In [3]:
my_list = [100,200,300,400,500]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(100, 200, 300, 400, 500)

## Metodo sort en tuplas

In [3]:
my_tuple = (5,4,2,7,9,0,1)
my_sorted_tuple = sorted(my_tuple)
my_sorted_tuple_2 = tuple(sorted(my_tuple))

print(type(my_tuple))
print (my_tuple)

print(type(my_sorted_tuple))
print(my_sorted_tuple)

print(type(my_sorted_tuple_2))
print(my_sorted_tuple_2)

<class 'tuple'>
(5, 4, 2, 7, 9, 0, 1)
<class 'list'>
[0, 1, 2, 4, 5, 7, 9]
<class 'tuple'>
(0, 1, 2, 4, 5, 7, 9)

## Metodo all en Tuplas

In [4]:
my_tuple = (5,4,2,7,9,2,1)
print(all(my_tuple))

True

In [5]:
my_tuple = (5,4,2,7,9,0,1)
print(all(my_tuple))

False

In [6]:
## Metodo all Valida que todos los elementos sean mayor que cero, sean true y ue no haya elementos faltantes

In [7]:
my_tuple = (5,4,2,7,9,"",1) 
print(all(my_tuple))

False

In [8]:
my_tuple = (5,4,2,7,9,None,1)
print(all(my_tuple))

False

In [9]:
my_tuple = (5,4,2,7,9,False,1)
print(all(my_tuple))

False

In [10]:
my_tuple = (5,4,2,7,9,"test",1)
print(all(my_tuple))

True

In [11]:
my_tuple = (5,4,2,7,9,3.5,1)
print(all(my_tuple))

True

## Metodo any en tuplas

In [13]:
my_tuple = (5,4,2,7,9,2,1)
print(any(my_tuple))

True

In [15]:
my_tuple = (5,4,2,7,9,0,1)
print(any(my_tuple))

True

In [17]:
my_tuple = (0,0,0,0,0,0,1)
print(any(my_tuple))

True

In [18]:
my_tuple = ("","t")
print(any(my_tuple))

True

In [19]:
my_tuple = (None,None)
print(any(my_tuple))

False

In [20]:
my_tuple = (None,None, 1)
print(any(my_tuple))

True

In [21]:
my_tuple = (False, False)
print(any(my_tuple))

False

In [22]:
my_tuple = (None,None, True)
print(any(my_tuple))

True

In [23]:
## validar que minimo un elemento sea diferente de cero

## Metodo len en Tuplas

In [26]:
my_tuple = (5,4,2,7,9,2,1)
print(type(my_tuple))
print(my_tuple)
print(len(my_tuple))

<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)
7

## Indexacion en tuplas

In [27]:
my_tuple = (5,4,2,7,9,2,1)
print(type(my_tuple))
print(my_tuple)
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[3])
print(my_tuple[-4])

<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)
5
1
7
7

## Conversion de Tuplas

## Cdena a Tupla

In [28]:
my_string = "Backend Python"
my_tuple= tuple(my_string)

print(my_string)
print(my_tuple)

Backend Python
('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')

In [30]:
my_list = ["python","javascript", "go","scala"]
my_tuple = tuple(my_list)

print(my_list)
print(my_tuple)

['python', 'javascript', 'go', 'scala']
('python', 'javascript', 'go', 'scala')

## Tupla a Cadena

In [31]:
my_tuple = ('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
my_string = "".join(my_tuple)

print(my_tuple)
print(my_string)

('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
Backend Python

## Tupla a Lista

In [32]:
my_tuple = ("python","javascript", "go","scala")
my_list = list(my_list)

print(my_list)
print(my_tuple)

['python', 'javascript', 'go', 'scala']
('python', 'javascript', 'go', 'scala')

## Ventajas de la tupla sobre la lista

- Generalmente usamos tuplas para elementos heterogeneos (de diferente tipo y dato), y usamos listas para elementos homogeneos (del mismo tipo de dato)
- Las tuplas son inmutables, iterar a traves de una tupla es mas raido que con una lista. por lo tanto hay una pequena mejora de rendimiento
- Las tuplas que contienen elementos inmutables pueden ser usadas como llaves para un diccionario. Con listas no es posible.
- Si tienes data que no cambia iplementarla como tupla te garantiza que se mantendra protegida a modificaciones

In [33]:
my_tupla[0] = "valor intruso"

NameError: name 'my_tupla' is not defined

In [34]:
my_list[0] = "valor intruso"

In [35]:
print(my_tuple)
print(my_list)

('python', 'javascript', 'go', 'scala')
['valor intruso', 'javascript', 'go', 'scala']